body {
    text-align: center;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 10px;

}

.wrapper {
    border: solid 2px black;
    width: fit-content;
    min-width: 100px;
    text-align: center;
    padding: 5px;
    margin: 5px auto 5px auto;
}

#results {
    width: 500px;
    font-size: 25pt;
}

.key {
    border: solid 2px green;
    min-width: 25px;
    width: fit-content;
    height: 25px;
    padding: 2px;
    margin: 0px auto 5px auto;
    text-align: center;
}

.key:hover {
    cursor: pointer;
}